body {
    width: 1280px;
    height: 720px;
    opacity: 0.9;
    background: var(--darkblue, #050729);
    box-shadow: 0px 4px 150px 0px rgba(0, 0, 0, 0.75);
    border-radius: 70px;
}

.home-flex {
    background-image: url(./jpg/car-3075497_1280\ 1.jpg);
    background-color: #222036;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 70px;
}

.heder {
    display: flex;
    justify-content: space-between;
}

.heder__icon1 {
    width: 137px;
    height: 44px;
    margin-left: 25px;
    margin-top: 20px;
}

.heder__icon2 {
    width: 190px;
    height: 45px;
    margin-right: 100px;
}

.main {
    display: flex;
}

.main__sidebar {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 35px 35px 35px 35px 35px 35px 35px 50px 50px 50px;
    gap: 3px;
    justify-content: start;
    padding-top: 10px;
    height: 420px;
    text-align: center;
}

.main__sidebar-pik {
    width: 200px;
    height: auto;
    border-bottom-left-radius: 70px;
}

.main__block1 {
    display: flex;
    height: 30px;
    margin-top: 40px;
}

.main__block7 {
    margin-top: 200px;
}

.main__block8 {
    margin-top: 190px;
}

.main__block9 {
    margin-top: 180px;
}


.main__button {
    border: #e7e8ef;
    width: 900px;
    height: 600px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    margin-left: 90px;
    margin-top: 55px;
}

.big-text {
    display: grid;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    grid-template-columns: 400px 400px;
    gap: 20px;
    margin-left: 40px;
}

.main__blok1 {
    margin-top: 84px;
}

.main__pik {

    width: 350px;
    height: 440px;
}

.main__small-text {
    width: 200px;
    height: 20px;
}